# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/

#VS Code
.factorypath
.project

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*